/* letras */
@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@400;700;800 & display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,700;0,800;1,800&family=Poppins:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@font-face {
    font-family: ;
    src: url();
}
/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 
/* paleta de colores a usar  */
.color {
    background-color: #ebbb37 ;
    background-color: #e4b41c ;
    background-color: #6d2612  ;
    background-color: #b79c67;
    background-color: #b0acb4 ;
    background-color: #efcc61 ;
    background-color: #c0330c;
    background-color: #333232;
    background-color: #ee0606;
}
/* propiedades body */
body{
    background: url(../img/DALL·E\ 2023-03-23\ 12.44.42.png); 
    /* display:grid;
    gap:10px;
    grid-template:
    "header" 160px
    "main"  auto
    "footer" 200px; */
}
/* propiedades header */
.card_header{
    position:fixed; 
    background-color:#ebbb37; 
    /* /opacity: 0.98;
    height: 100px; 
    width: 100%; */
    z-index:100;
} 
/* propiedades main */
.card_main_index{
    background-color: #f4dc84; 
    background-image:radial-gradient(#6d2612 ,#ebbb37 );
    opacity: 0.90;
    padding: 20px; 
    padding-top: 120px;
    z-index: 0;
}  
.card_main{
    grid-area: main;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items:center;
    background-color: #f4dc84;
    opacity: 0.95;
    border-style: double;
    padding-top: 100px;
    width: 100%;
    padding: 20px; 
}  
.img_index_titulo{
    width: 100%;
    height: 150px;
    opacity: 100%;
}
/* Textos en negrita */
.negrita{
    font-weight: bold;
}
.mapa{
    width:400px;
    height:400px;
    border-style: solid;
    border-color: black;
    border-radius: 3%;
    width="500" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="" border-color="black " border-style="solid" */
}  
h1{ 
    color:#ee0606;
    font-size: 500%;
    text-align: center;
    font-family:'Special Elite'; 
    font-weight:900;
    justify-items: center;
    justify-content: center;
    border::content;
    background-image: radial-gradient(#efcc61, #e4b412,#c0330c );
} 
h2{ 
    color:#ee0606;
    font-size: 250%;
    text-align: center;
    font-family:'Special Elite'; 
    font-weight:900;
    background-image: radial-gradient(#efcc61, #e4b412,#c0330c );
}

h3{ 
    font-size: 25px;
    text-align: center;
}
.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}
footer{
    background-color: #e4b41c; 
    opacity: 0.98;
}  
/* iconos footer */
footer div img{
    width: 20px;
    height: 20px;
}
.footer_ubicacion{
    display: flex;
    justify-content: flex-start;
    padding: 10px 2px;
    text-decoration: none;
} 
footer div h4 a{
    text-decoration: none;
    color: black;
    padding: 20px 2px;
}
.main_div{
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.main_index{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    
}
.img_index{
    width: 500px;
    height: 500px;
    border-color:  #c0330c;
    border-style: solid;
    margin: 5px;
}
.main_nosotros{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.main_nosotros_fondo{
    background-color: #ebbb37;
}
.img_productos{
    width: 300px;
    height: 300px;
    border-radius: 3%;
    border-color: black;
    border-style: solid;  
    transition: 2s;
}
.img_productos:hover{
    transform: scale(1.2,1.2);
}
.img_productos_2{
    width: 786px;
    height: 500px;
    border-radius: 3%;
    border-color: black;
    border-style: solid;
}
.main_producto{
    padding: 10px;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.img_index_main{
    width: 200px;
    height: 700px;
    border-radius: 3%;
    border-color: black;
    border-style: solid;
}
#carouselExample{
    max-width: 500px; 
    margin: 0 auto; 
}
.carousel-inner {
    max-height: 700px; /* Ajusta la altura máxima del carrusel según tus necesidades */
    }
    
.carousel-item img {
    max-width: 100%; /* Ajusta el ancho de las imágenes al 100% del ancho del carrusel */
    height: auto; /* Ajusta la altura de las imágenes automáticamente */
    margin: 0 auto; /* Centra horizontalmente las imágenes usando margen automático */
}
.img_pedidos{
    width: 300px;
    height: 300px;
}
/* @media screen and (max-width: 576px) {
    body{
        display:grid;
        gap:10px;
        grid-template:
        "header" 100px
        "main"  auto
        "footer" 100px;
    }
    header{
        display: flex;
        z-index: 999;
        justify-content:space-between; 
        height: 100px;
    }
    header div img{
        width: 130px;
        height: 90%;
        justify-items: center;
    }
    header div{
        width: 45%;
        height: 100px;
        z-index: 999;
        box-sizing: border-box;
    }
    header nav ul li a{
        color: #e4b41c ; 
        font-size: 80%;
        text-decoration:none;
        margin: 0px;
    }
    header nav ul{
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        height: 250px;
        z-index: 2;
        font-weight: 800;
    }
    /*MENU HAMBURGUESA*/
    /* header label{
        width: 40%;
        text-align: end;
        display: flex;
        justify-content: end;
    }
    header label i{
        color: #c0330c;
        font-size: 30px;
    }
    header nav{
        /* display: none; 
        transform:translateY( -1152px);
        transition: 1s;
        position: absolute;
        justify-content: flex-start;
        top: 10px;
        /* top: 40px; 
        width: 100%;
        height: 100vh;
        padding: 20px;
    }
    .inputMenu{
        display: none;
    }
    .inputMenu:hover + nav {
        transform: translateY(0);
    }
    h1{
        font-size: 250%;
        margin top: 5px;;
    }
    .img_index{
        width: 300px;
        height: 300px;
        padding: 2px;
    }
    .img_productos{
        width: 200px;
        height: 200px;
    }
    .img_productos_2{
        width: 200px;
        height: 130px;
    }
    .mapa{
        width: 300px;
        height: 300px;
    }
    footer section{
        display: flex;
        justify-content:space-around;
        padding: 10px 2px;
        text-decoration: none;
    }
    footer div img{
        width: 15px;
        height: 15px;
    }
    h3{
        font-size: 20px;
    }
    h4{
        font-size: 15px;
    }
    footer{
        width: 100%;
    }
}  