/* letras */
@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@400;700;800 & display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,700;0,800;1,800&family=Poppins:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@font-face {
    font-family: ;
    src: url();
}
/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 
/* paleta de colores a usar  */
.color {
    background-color: #ebbb37 ;
    background-color: #e4b41c ;
    background-color: #6d2612  ;
    background-color: #b79c67;
    background-color: #b0acb4 ;
    background-color: #efcc61 ;
    background-color: #c0330c;
    background-color: #333232;
    background-color: #ee0606;
}
/* propiedades body */
body{
    background: url(../img/DALL·E\ 2023-03-23\ 12.44.42.png); 
}
/* propiedades header */
.card_header{
    position:fixed; 
    background-color:#ebbb37; 
    z-index:100;
} 
.img_header{
    width:100px;
    height:70px;
}
/* propiedades main */
.card_main_index{
    background-color: #f4dc84; 
    background-image:radial-gradient(#6d2612 ,#ebbb37 );
    opacity: 0.90;
    padding: 20px; 
    padding-top: 120px;
    z-index: 0;
}  
.mapa{ 
    width:400px;
    height:400px;
    border-style: solid;
    border-color: black;
    border-radius: 3%;
    width="500" height="500" style="border:0.3;border-color="black " border-style="solid" ;
}  
h1{ 
    color:#ee0606;
    font-size: 500%;
    text-align: center;
    font-family:'Special Elite'; 
    font-weight:900;
    justify-items: center;
    justify-content: center;
    border::content;
    background-image: radial-gradient(#efcc61, #e4b412,#c0330c );
} 
h2{ 
    color:#ee0606;
    font-size: 250%;
    text-align: center;
    font-family:'Special Elite'; 
    font-weight:900;
    background-image: radial-gradient(#efcc61, #e4b412,#c0330c );
}
h3{ 
    font-size: 25px;
    text-align: center;
}
footer{
    background-color: #e4b41c; 
    opacity: 0.98;
}  
/* iconos footer */
footer div img{
    width: 20px;
    height: 20px;
}
.footer_ubicacion{
    display: flex;
    justify-content: flex-start;
    padding: 10px 2px;
    text-decoration: none;
} 
footer div h4 a{
    text-decoration: none;
    color: black;
    padding: 20px 2px;
}
.main_centrar{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.main_nosotros{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.main_nosotros_fondo{
    background-color: #ebbb37;
}
.img_productos{
    width: 300px;
    height: 300px;
    border-radius: 3%;
    border-color: black;
    border-style: solid;  
    transition: 2s;
}
.img_productos:hover{
    transform: scale(1.2,1.2);
}
.img_productos_2{
    width: 786px;
    height: 500px;
    border-radius: 3%;
    border-color: black;
    border-style: solid;
}
#carouselExample{
    max-width: 500px; 
    margin: 0 auto; 
}
.carousel-inner {
    max-height: 700px; 
}
.carousel-item img {
    max-width: 100%; 
    height: auto; 
    margin: 0 auto;
}
.img_pedidos{
    width: 300px;
    height: 300px;
    transition: 2s;
}
.img_pedidos:hover{
    transform: scale(1.5,1.5);
}
@media screen and (max-width: 576px) {
    .card_main_index{
        padding-top: 70px;
    }
    .img_header{
        width:70px;
        height:49px;
    }
    h1{
        font-size: 200%;
        /* margin top: 5px; */
    }
    h2{
        font-size: 100%;
    }
    .img_index_main{
        width: 100px;
        height: 100px;
        padding: 2px;
    }
    #carouselExample{
        max-width: 400px; 
        margin: 0 auto; 
    }
    .carousel-inner {
        max-height: 400px; 
    }
    .carousel-item img {
        max-width: 100%; 
        height: auto; 
        margin: 0 auto;
    }
    .img_productos{
        width: 200px;
        height: 200px;
    }
    .img_productos_2{
        width: 200px;
        height: 130px;
    }
    .mapa{
        width: 300px;
        height: 300px;
    } 
    p{
        font-size: 70%;
    }
    h3{
        font-size: 20px;
    }
    h4{
        font-size: 15px;
    }
    .img_productos{
        width: 150px;
        height: 150px;
    }
    .img_productos:checked{
        transform: scale(1.5,1.5);
    }
    .img_pedidos{
        display: none;
    }
}