/* paleta de colores a usar  */
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,700;0,800;1,800&family=Poppins:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@font-face {
  font-family: "Poppins", sans-serif;
  src: url();
}
/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* propiedades body */
body {
  background: url(../img/madera.png);
  z-index: 1;
}
body h1 {
  font-family: "Posterama Pro 1945";
  color: #ee0606;
  font-size: 400%;
  text-align: center;
  font-weight: 900;
  justify-items: center;
  justify-content: center;
  background-image: radial-gradient(#efcc61, #e4b412, #c0330c);
  padding: 0;
  margin: 10px;
}
body h2 {
  color: #ee0606;
  font-size: 250%;
  text-align: center;
  font-weight: 900;
  background-image: radial-gradient(#efcc61, #e4b412, #c0330c);
  margin-top: 10px;
}
body h3 {
  color: #ee0606;
  font-size: 35px;
  text-align: center;
  background-image: radial-gradient(#efcc61, #e4b412, #c0330c);
}
body h5 {
  color: #ee0606;
}
body footer {
  background-color: #e4b41c;
  opacity: 0.98;
}
body div img {
  width: 20px;
  height: 20px;
}
body .footer_ubicacion {
  display: flex;
  justify-content: flex-start;
  padding: 10px 2px;
  text-decoration: none;
}
body div h4 a {
  text-decoration: none;
  color: black;
  padding: 20px 2px;
}

.card_header {
  position: fixed;
  background-color: #ebbb37;
  z-index: 2;
}
.card_header .img_header {
  width: 100px;
  height: 70px;
}
.card_header .navbar-nav .nav-link {
  color: #6d2612;
  font-weight: 500;
}
.card_header .navbar-nav .nav-link:hover {
  color: #ee0606;
}
.card_header .img_delivery {
  width: 70px;
  height: 70px;
}

.card_main {
  background-color: #ebbb37;
  background-image: radial-gradient(#6d2612, #ebbb37);
  padding: 20px;
  padding-top: 120px;
  z-index: 1;
  opacity: 0.98;
}
.card_main .main_centrar {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.video {
  display: flex;
  justify-content: center;
}
.video .video_index {
  width: 1200px;
  height: 350px;
  object-fit: fill;
  z-index: 1;
}

.main_promos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.main_promos .img_index_main {
  width: 400px;
  height: 400px;
  margin: 30px;
  padding: 0.5px;
  border-radius: 30px;
  border-style: solid;
  transition: 2s;
}
.main_promos .img_index_main:hover {
  transform: scale(1.3, 1.3);
}

#carouselExamplearouselExample {
  max-width: 500px;
  margin: 0 auto;
}

/* propiedades de carousel de imagenes pagina index */
.carousel-inner {
  max-height: 700px;
}

/* propiedades de carousel de imagenes pagina index */
.carousel-item img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.movil {
  display: none;
}

.lg {
  display: none;
}

.img_productos {
  width: 300px;
  height: 300px;
  border-radius: 3%;
  border-color: black;
  border-style: solid;
  transition: 2s;
}
.img_productos:hover {
  transform: scale(1.2, 1.2);
}

.productos_mq {
  display: contents;
}

.img_productos_2 {
  width: 786px;
  height: 500px;
  border-radius: 3%;
  border-color: black;
  border-style: solid;
  transition: 2s;
}
.img_productos_2:hover {
  transform: scale(1.2, 1);
}

.movil_p {
  display: none;
}

.carousel-inner {
  max-height: 900px;
}

/* propiedades de carousel de imagenes pagina index */
.carousel-item img {
  max-width: 90%;
  height: auto;
  margin: 0 auto;
}

.datos_form {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-around;
}

.main_form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 10px;
}

.mapa {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 500px;
  height: 500px;
  border-style: solid;
  border-color: black;
  border-radius: 3%;
}

.main_nosotros_fondo {
  background-color: #ebbb37;
}

.main_nosotros {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.main_centrar {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.carrito_centrar {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.carrito_centrar .fondo_carrito {
  background-color: #e4b41c;
  border-radius: 10px;
  background-image: radial-gradient(#e4b41c, #c0330c);
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  border-radius: 10px;
  border: solid;
}
.carrito_centrar .fondo_carrito .forma_pago {
  color: antiquewhite;
  font-weight: 700;
}

main div .forma_pago {
  color: antiquewhite;
  font-weight: 700;
}
main tr td div .boton_carrito {
  display: flex;
  justify-content: flex-start;
}
main tr td div span {
  color: green;
  font-weight: 700;
  margin: 2px;
}

/* MODIFICACIONES PARA MOVIL 576 PX */
@media screen and (max-width: 576px) {
  .card_main_index {
    padding-top: 70px;
  }
  .img_header {
    width: 70px;
    height: 49px;
  }
  body h1 {
    font-size: 50px;
    /* margin top: 5px; */
  }
  body h2 {
    font-size: 30px;
  }
  .img_index_main {
    width: 250px;
    height: 250px;
    padding: 2px;
    display: flex;
    justify-content: center;
  }
  #carouselExample, #carouselhamburguesas, #carouselpizza, #carouselempanadas {
    max-width: 400px;
    margin: 0 auto;
  }
  .carousel-inner {
    max-height: 400px;
  }
  .carousel-item img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .img_productos {
    /*width: 200px;
    height: 200px;*/
    width: 250px;
    height: 250px;
    padding: 2px;
    display: flex;
    justify-content: center;
  }
  .img_productos_2 {
    width: 200px;
    height: 130px;
  }
  .mapa {
    width: 300px;
    height: 300px;
  }
  body p {
    font-size: 15px;
  }
  body h3 {
    font-size: 20px;
  }
  body h4 {
    font-size: 15px;
  }
  .img_productos {
    width: 350px;
    height: 350px;
  }
  .img_productos_2 {
    width: 350px;
    height: 250px;
  }
  .img_pedidos {
    display: none;
  }
  .video .video_index {
    width: 500px;
    height: 200px;
    /*object-fit: fill;*/
    z-index: 1;
  }
  .movil {
    display: contents;
  }
  .main_promos {
    display: none;
  }
  .productos_mq {
    display: none;
  }
  .movil_p {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-content: center;
  }
}/*# sourceMappingURL=style.css.map */