.carrito_centrar{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    .fondo_carrito{
        background-color: $color_primario_2;
        border-radius: 10px;
        background-image:radial-gradient($color_primario_2,$color_marron_claro );
        opacity: 0.8;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        border-radius: 10px;
        border: solid;
        .forma_pago{
            color: antiquewhite;
            font-weight: 700;
        } 
    }
}
main{
    div{
        .forma_pago{
            color: antiquewhite;
            font-weight: 700;
        }
    }
    tr{
        td{
            div{
                .boton_carrito{
                    display: flex;
                    justify-content:flex-start;
                }
                span{
                    color: green;
                    font-weight: 700;
                    margin: 2px;
                }
            }   
        }
    }
} 




