.carrito_centrar{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    }
    .fondo_carrito{
        background-color: $color3;
        border-radius: 10px;
        background-image:radial-gradient($color4,$color3);
        opacity: 0.8;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        border-radius: 10px;
        border: solid;
        margin: 10px;
    }
        .forma_pago{
            color: antiquewhite;
            font-weight: 700;
    }
main{
    div{
        .forma_pago{
            color: antiquewhite;
            font-weight: 700;
        }
    }
    tr{
        td{
            div{
                .boton_carrito{
                    display: flex;
                    justify-content:flex-start;
                }
                span{
                    color: green;
                    font-weight: 700;
                    margin: 2px;
                }
            }   
        }
    }
} 

.img_carrito{
    width: 100px;
    height: 100px;
}
.mov_img{
    position: relative;
    left: 0;
    transition: left 5s;
    &.mov{
        transform:rotate(-30deg);
        left: 590px;
    }
}





