.img_carrito{
    width: 150px;
    height: 150px;
}
.fondo_carrito{
    background-color: $color_primario_2;
    border-radius: 10px;
    background-image:radial-gradient(#6d2612 ,#ebbb37 );
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border-radius: 10px;
    border: solid;
}
.carrito_centrar{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.listas{
    color: antiquewhite;
    font-size: 20px;
}
    
