@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,700;0,800;1,800&family=Poppins:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@font-face {
    font-family:'Poppins', sans-serif;
    src: url();
}
/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 

/* propiedades body */
body{
   background: url(../img/DALL·E\ 2023-03-23\ 12.44.42.png); 
    z-index: 0;
    h1{ 
        font-family: 'Posterama Pro 1945';
        color:$color_rojo;
        font-size: 400%;
        text-align: center;
        /*font-family:'Special Elite'; */ 
        font-weight:900;
        justify-items: center;
        justify-content: center;
        /* border-radius: 0%;
        border-color: #ee0606;
        border-style:ridge; */
        background-image: radial-gradient(#efcc61, #e4b412,#c0330c );
        padding: 0;
        margin: 0px;
    }
    h2{ 
        color:#ee0606;
        font-size: 250%;
        text-align: center;
        /* font-family:'Special Elite';  */
        font-weight:900;
        background-image: radial-gradient(#efcc61, #e4b412,#c0330c );
    }
    h3{ 
        font-size: 25px;
        text-align: center;
    }
    footer{
        background-color:#e4b41c; 
        opacity: 0.98;
        div img{
            width: 20px;
            height: 20px;
        }
        .footer_ubicacion{
            display: flex;
            justify-content: flex-start;
            padding: 10px 2px;
            text-decoration: none;
        } 
        div h4 a{
            text-decoration: none;
            color: black;
            padding: 20px 2px;
        }  
    }  
}
