.card_header{
    position:fixed; 
    background-color:$color_primario; 
    z-index:2;
    .img_header{
        width:100px;
        height:70px;
    }
    .navbar-nav{
        .nav-link{
            color:$color_negro;
            font-weight: 700;
            padding: 1px;
            border-color: $color_negro;
            border-radius: 5px;
            margin: 5px;
            &:hover{
                color:$color_rojo
            }
        }
    }
    .img_delivery{
        width:70px;
        height:70px;
    }
}
