.card_header{
    position:fixed; 
    background-color:$color1; 
    z-index:2;
    .img_header{
        width:100px;
        height:70px;
    }
    .navbar-nav{
        .nav-link{
            color:black;
            font-weight: 700;
            padding: 1px;
            border-color: black;
            border-radius: 5px;
            margin: 5px;
            &:hover{
                color:$color5;
            }
        }
    }
    .img_delivery{
        width:70px;
        height:70px;
    }
}
