#carouselExample{
    max-width: 500px; 
    margin: 0 auto; 
}
/* propiedades de carousel de imagenes pagina index */
.carousel-inner {
    max-height: 700px; 
}
/* propiedades de carousel de imagenes pagina index */
.carousel-item img {
    max-width: 100%; 
    height: auto; 
    margin: 0 auto;
}
.main_promos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.img_index_main{
    width: 300px;
    height: 300px;
    margin: 30px;
    padding: 0.5px;
    border-radius: 30px;
    border-style: solid;
    transition: 2s;
    &:hover{
        transform: scale(1.4,1.4);
    }
}
.video{
    display: flex;
    justify-content: center;
    .video_index{
         width: 1200px;
         height: 350px;
         object-fit: fill;
         z-index: 1;
    }
}

