/* MODIFICACIONES PARA MOVIL 576 PX */
@media screen and (max-width: 576px) {
    .card_main_index{
        padding-top: 70px;
    }
    .img_header{
        width:70px;
        height:49px;
    }
    body h1{
        font-size: 50px;
        /* margin top: 5px; */
    }
    body h2{
        font-size: 30px;
    }
    .img_index_main{
        width: 250px;
        height: 250px;
        padding: 2px;
        display: flex;
        justify-content: center;
    }
    #carouselExample{
        max-width: 400px; 
        margin: 0 auto; 
    }
    .carousel-inner {
        max-height: 400px; 
    }
    .carousel-item img {
        max-width: 100%; 
        height: auto; 
        margin: 0 auto;
    }
    .img_productos{
        width: 250px;
        height: 250px;
        display: flex;
        justify-content: center;
    }
    .img_productos_2{
        width: 200px;
        height: 130px;
    }
    .mapa{
        width: 300px;
        height: 300px;
    } 
    body p{
        font-size: 15px;
    }
    body h3{
        font-size: 20px;
    }
    body h4{
        font-size: 15px;
    }
    .img_productos{
        width: 350px;
        height: 350px;
    }
    .img_productos_2{
        width: 350px;
        height: 250px
    }
    .img_pedidos{
        display: none;
    }
    .video .video_index {
        width: 500px;
        height: 200px;
        /*object-fit: fill;*/
        z-index: 1;
    }
    .movil{
        display: contents;
    }
    .main_promos{
        display: none;
    }
    .productos_mq{
        display: none;
    }
    .movil_p{
        display: flex;
        justify-content:space-between;
        justify-items: center;
        align-content: center;
    }
}