.main_nosotros_fondo{
    background-color: #ebbb37;
}
.main_nosotros{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    opacity: 0.85;
}
.img_nosotros{
    width: 450px;
    height: 200px;
    border-radius: 3%;
    border-color: black;
    border-style: solid;
    padding: 1px;
    margin: 10px;
}