/* paleta de colores a usar  */

$color1: #e2b419;
$color2: #6d2612;
$color3: #c0330c;
$color4: #e0af28;
$color5: #ee0606;
$vista: normal;
/* cambiar de "$vista: normal" a"$vista: mundial" para eventos de la Selección Argentina*/
$vista: normal;
@if $vista == mundial {
    $color1: #6cb0e4;
    $color2: #144870;
    $color3: #bdb10e;
    $color4: #b8cbda;
    $color5: #eaecee;
}
@else {
    $color1: #e2b419;
    $color2: #6d2612;
    $color3: #c0330c;
    $color4: #e0af28;
    $color5: #ee0606;
}




